# Python
__pycache__/
*.pyc
*.pyo
*.egg-info/
.eggs/
.venv/
venv/
env/

# IDE
.vscode/
.idea/
*.swp
*.swo

# Project data & outputs (DO NOT COMMIT)
data/
renders/
results/
checkpoints/
checkpoints*/
outputs/
*.zip

# OS junk
.DS_Store
Thumbs.db

# Jupyter
.ipynb_checkpoints/
